body {
   /* font-family: 'Fredericka the Great', cursive; */
   /* font-family: 'Monoton', cursive; */
   font-family: 'Cabin Sketch', cursive;
   /* font-family: 'Love Ya Like A Sister', cursive; */
   /* font-family: 'Shojumaru', cursive; */

   font-size: bolder;
 }

/* navbar */
ul li {
 float: right;
 list-style: none;
 margin-right: 1em;
}

li a {
 color: black;
 text-decoration: none;
 float: right;
 font-size: 25px;
 padding: 12px;
}

li a:hover {
 color: #7eb9be;
}

li a:hover {
	-webkit-transform: rotate(-10deg) scale(1.2);
	-moz-transform: rotate(-10deg) scale(1.2);
	-o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
 /*Transition*/
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 /*Transform*/
 -webkit-transform: rotate(-10deg) scale(1.2);
 -moz-transform: rotate(-10deg) scale(1.2);
 -o-transform: rotate(-10deg) scale(1.2);
}

.right a:hover {
 /*Transition*/
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 /*Transform*/
 -webkit-transform: rotate(10deg) scale(1.2);
 -moz-transform: rotate(10deg) scale(1.2);
 -o-transform: rotate(10deg) scale(1.2);
}
/* navbar end  */

.headings {
  text-align: center;
  padding-bottom: 30px;
}

.description {
  font-size: 1.8rem;
}

.nav_logo {
  float: left;
}

.VaterStaat {
  width: 85%;
  border-radius: 250px;
}

#About, #Music, #Shows {
  margin-top: 100px;
}

.insta {
  padding-top: 90px;
  border-radius: 5px;
}

.insta img {
  border-radius: 30px;
  padding: 15px;
}

.social {
  display: block;
  text-align: center;

}

.follow {
  padding: 9px;
  padding-top: 50px;
}
